<div class="col-md-6 col-md-offset-3 search">
    <form #heroForm="ngForm" (ngSubmit) = "onSbmit()">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input [(ngModel)]="searchText" name="search" type="text" class="form-control input-lg" placeholder="Seach cars..." />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
    </form>
</div>
