<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="header-search">
        <app-header-search></app-header-search>
      </div>
    </div>
    <div class="col-md-12">
        <app-cars-list></app-cars-list>
    </div>
    <div class="col-md-12">
      <div class="cars-selected">
        <app-selected-cars></app-selected-cars>
      </div>
    </div>
  </div>
</div>
