<ul class="car-list">
  <li *ngFor="let car of selectedCars">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
      aria-valuemin="0" [attr.aria-valuemax]="distance" [style.width] = "car.travelledDistanceInProcent + '%'">
        <div class="car-progres" [style.left] = "car.travelledDistanceInProcent + '%'">
          <img class="car-small-img" [src]="car.image" [alt]="car.name"> <span style="color:black;"> - {{car.travelledDistanceInProcent}} Km</span>
        </div>
        <div class="speed-limits" *ngFor="let speedLimit of speedLimits" [style.left] = "speedLimit.position + '%'">
            <img class="speed-limits-img" [src]="speedLimit.image" alt="speed limit">
        </div>
        <div class="traffic-lights" *ngFor="let trafficLight of trafficLights" [style.left] = "trafficLight.position + '%'">
            {{trafficLight.position}}
            <div [ngClass]="{red: true, 'light-red': trafficLight.color === 'red'}">{{trafficLight.position}}</div>
            <div [ngClass]="{green: true, 'light-green': trafficLight.color === 'green'}"></div>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="col-md-12 distance" *ngIf="selectedCars.length > 0">
    <div>Distance: {{distance}} Km</div>
    <form #acForm="ngForm">
      <div class="form-group">
        <label for="accelerate">Accelerate cars animation:</label>
        <input type="text" name="accelerate" #accelerate="ngModel" class="form-control" placeholder="Accelerate cars animation" ngModel pattern="[1-9][0-9]?" >
        <span *ngIf="!accelerate.valid && accelerate.touched" style="color:red;" class="help-block">Please enter a number from 1 to 99!</span>
      </div>
  </form>
</div>
<div class="col-md-12 buttons" *ngIf="selectedCars.length > 0">
  <div class="btn-group pull-right">
      <button class="btn btn-lg btn-primary" [disabled] = "isStarted" (click)="onStart()">Start</button>
      <button class="btn btn-lg btn-danger" [disabled] = "!isStarted"  (click)="onStop()">Stop</button>
  </div>
</div>
<div class="col-md-12 winners" *ngIf="carsWiners.length > 0">
  <ul class="winner-list">
      <li *ngFor="let car of carsWiners; index as i">
         {{i + 1}}. <span>{{car.name}}</span> <span class="medal-img"><img width="50" height="70" [src]="'assets/img/medals/' + (i + 1) + '-place.png'" alt="gold medal"></span>
      </li>
  </ul>
</div>
