.car-image {
    width: 300px;
    height: 200px;
}

.car-item {
    cursor: pointer;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.cars > app-car:nth-last-child(-n+3) > div {
    border-bottom: 0px;
}

.cars > app-car:nth-child(3n) > div {
    border-right: 0px;
}

.search {
    margin-bottom: 30px; 
}

/* Cars list */
.cars-selected {
    margin: 50px 0 50px 0;
    padding-bottom: 30px;
}

.car-list {
    list-style: none;
    padding: 0;
}

.car-small-img {
    width: 50px;
    height: 40px;
}

.progress {
    position: relative;
    height: 50px;
}

.car-progres {
    float:left;
    position: absolute;
}

/* Traffic lights*/

.red {
    margin-left: 2px;
    width:21px;
    height:21px;
    border-radius:100px;
    background-color:red;
    position:absolute;
    z-index:2;
    top:2px;
}
.green {
    margin-left: 2px;
    width:21px;
    height:21px;
    border-radius:100px;
    background-color:#ABFF00;;
    position:absolute;
    z-index:3;
    top:53%;
}

.light-green {
   box-shadow:rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.light-red {
   box-shadow:rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.traffic-lights {
    border-radius: 8px;
    width: 27px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 0;
    border: 1px solid black;
}

/* Winners list */

.winners, .distance, .buttons {
    margin-bottom: 30px; 
}

.winner-list {
    list-style: none;
    padding: 0;
}

.medal-img {
    width: 50px;
    height: 50px;
}

/* Speed limits style */

.speed-limits {
    float:left;
    position: absolute;
}

.speed-limits-img {
    width: 30px;
    height: 30px;
}
